@model ActorCompany.Company
@using (Html.BeginForm("Create", "Company"))
{
    <fieldset>
        <legend>Company</legend>
        <div class="row">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Address)
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        </div>
        <div class="row">
            <input type="submit" value="Create" class="btn-primary btn" />
        </div>
    </fieldset>
}