@model List<ActorCompany.Commands.CompanyCreateCommand>

@Html.ActionLink("Create","Create","Company")
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>

    @foreach (var company in Model)
    {
        <tr>
            <td>@company.Id</td>
            <td>@company.Name</td>
            <td>@company.Address</td>
            <td>
                @using (Html.BeginForm("Delete", "Company", new { id = company.Id}, FormMethod.Post))
                {
                    <button type="submit">Delete</button>
                }
            </td>
        </tr>
    }
</table>