@model StatefulBackendService.Domain.Employee

<form action="/Employee/Create" method="post">
    <div class="container">
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="col-md-12 form-group">
            @Html.LabelFor(model => model.Age)
            @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        </div>
        <div class="col-md-12 text-right form-group">
            <input type="submit" value="Create" class="btn-primary btn form-control" />
        </div>
    </div>
</form>