@model IEnumerable<StatefulBackendService.Domain.Employee>

<a href="Employee/Create">Create</a>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Vote</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Name</td>
            <td>@e.Age</td>
            <td>@e.Vote</td>
            <td>
                <a href="Employee/Edit?id=@e.Id" class="btn btn-primary">Edit</a> |
                <a href="Employee/Vote?id=@e.Id" class="btn btn-primary">Vote</a> |
                <a href="Employee/Delete?id=@e.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>